@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.main-section {
    text-align: center;
    background-color: cornflowerblue;
    width: 50%;
    margin: auto;
    padding: 20px;
    height: 90vh;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

h2 {
    color: white;
}

#check-btn {
    display: block;
    margin: auto;
    border-radius: 0.5rem;
    width: 5rem;
    height: 1.5rem;
}

#date-input {
    margin: 10px;
    width: 20rem;
    height: 2rem;
    border-left: 0.5rem;
    padding: 5px;
}

.divTxt {
    margin: 10px;
    font-weight: 800;
}

#div-txt {
    color: white;
}

.span-img {
    font-size: large;
}